/* Folha de Estilo GLOBAL
Será usada por elementos em todos os componentes
da aplicação React */

/* Ajuste do Box Modal com box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

/* Bloco/Box */
.sombra {
  box-shadow: gray 0 0 10px;
  background-color: white;
  border-radius: 10px;
  padding: 0.09%;
}

.destaque-texto {
  background-color: yellow;
  padding: 4px;
  border-bottom: 4px;
}

.centralizar {
  text-align: center;
}

.corLetraMenu {
  color: white;
}

.corMenu {
  background-color: rgb(82, 81, 81);
}
